/*  Portfolio website is meant to resemble a white board.  Until Java Script is
    incorporated into the code the website will likely not function as envisioned */ 

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

:root {
    --post-it-yellow: #fcfca6;
    --post-it-blue: #a3e8ff;
    --post-it-green: #a7ffa4;
    --post-it-pink: #ffa7e9;
    --marker-red: #e20000;
    --marker-green: #018316;
    --marker-blue: #003699;
    --marker-black: #000000;
}

html {
    height: 100%;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    height: 100%;
}

header {
    padding: 20px 35px;
    background-color: white;
    background-image: url("../images/whiteboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header p {
    margin-right: 10px;
    margin-top: 10px;
}

span {
    line-height: 74px;
    font-size:200px;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1px;
    margin-left: 10%;
    padding-left: 0px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    height: 175px;
    margin-right: 50px;
    justify-content: space-between;
    cursor: pointer;
    background: var(--post-it-blue);
    box-shadow:
      inset 0 -25px 25px rgba(0,0,0,0.25),
      inset 0 25px 10px rgba(0,0,0,0.25),
      -8px 8px 15px 10px rgba(0,0,0,0.3);  
}

header nav ul li a {
    display: flex;
    color: var(--marker-black);
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}

footer {
    display: flex;
}

footer h2 {
    text-align: center;
}

.bg {
    background-image: url("../images/whiteboard.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.post-it-nav:hover {
    border-radius: 0 0 0 75px/100px;
}

.post-it-nav-hide {
    display: none;
}

.menu-trigger:active + .post-it-nav-hide {
    display:block;
}

.break {
    flex-basis: 100%;
    width: 0;
}

.hero {
    text-align: center;
}

.hero-sketches {
    width: 300px;
    height: 300px;
}

.hero-top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.skills {
    justify-content: space-around;
    align-items: center;
}

#skills h2 {
    text-align: center;
}

.lang {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
}

.tools {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: right;
    margin-left: 100px;
}

.recent-projects {
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 0 50px;
}

.recent-projects h2 {
    text-align: center;
}

.past-projects {
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

.past-projects h2 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    text-align: centers;
}